main {
  .container {
    .titulo {
      color: map-get($colores, color1);
      @include tituloStyle(35px);
    }
    .contenidoAbout {
      background-color: rgb(209, 195, 195);
      .texto {
        @include tituloStyle(25px);
        color: map-get($colores, color3);
      }
    }
  }
}
