$color-texto: black;
$color-header: #d4d0c9;
$color-titulo: #1a3c40;
$color-main: #ede6db;
$colores: (
  color1: $color-titulo,
  color2: $color-header,
  color3: $color-texto,
  color4: $color-main,
);
